section {
    color: white;
    background-color: #0F62FE;

    text-align: center;
}

#section0 {
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.app_neme h1 {
    font-size: 6vw !important;
    font-weight: bold;
}

.DownloadButton {
    margin: 4px;
}

#section1 {
    padding: 5em 2em 2em 2em;
    background: white;
    color: #0F62FE;
}

.Function-illustrate {
    text-align: left;

}

.Function-illustrate h1,
h3 {

    font-weight: bold
}

.Function-illustrate h1 {
    font-weight: bold;
    color: #000;
}

.Function-illustrate p {
    color: #637381;
}

#section1 img {
    max-width: 800px;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, .5);
    border-radius: 1em;
}

.carousel-item img {
    background-color: #0F62FE;
}

.carousel-indicators button {
    background-color: #999;
}

#section2 {
    display: flex;
    height: 800px;
    background: #f3f4fe;
    justify-content: center;
    align-items: center;
    color: #000;
}

.Auto-Insert {
    background: white;
    width: 80vw;
    max-width: 1200px;

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Auto-Insert-right {
    width: 50%;
    max-width: 500px;
}


.Auto-Insert-illustrate {
    text-align: left;
    padding: 40px;
    padding-bottom: 0;
}

.Auto-Insert-t {
    background: #0F62FE;
    padding: 0.2em 1em;
    color: white;
}

.Auto-Insert-h {
    font-weight: bold;
}

.Auto-Insert-i {
    color: #637381;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* 其他样式，保持不变 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
}

#section4 {
    display: flex;
    height: 700px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Belongs {
    color: #0F62FE;
}

.Belongs .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;
}

.Belongs .container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

}

.Belongs .container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.Belongs .container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}
.Belongs .container .card:hover h2 {
    opacity: 0;
}

.Belongs .container .card h2 {
    position: absolute;
    font-size: 3em;
    color: rgb(0 0 0 / 10%);
    pointer-events: none;
    transform: rotate(45deg);
}

.Belongs .container .card .content h3 {
    font-size: 1.8em;
    color: #000000;
    z-index: 1;
}

.Belongs .container .card .content p {
    font-size: 1em;
    color: #000000;
    font-weight: 300;
}

.Belongs .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#section5 {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#section5 * {
    color: white;
}

@media screen and (max-width: 910px) {
    #section2 {
        height: auto;
        padding: 50px 0;
    }

    .Auto-Insert {
        flex-direction: column;
        height: auto;
    }

    #section4 {
        height: auto;
        padding: 30px 0;
    }

    #section4 p{
        font-size: 2.5vw;
    }

    .Belongs .container {
        display: block;
    }

    .Belongs .container .card {
        width: auto;
    }

}

@media screen and (max-width: 550px) {
    table {
        font-size: 2.5vw;
    }
}