section {
    color: white;
    background-color: #0F62FE;

    text-align: center;
}

#section0 {
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.app_neme h1 {
    font-size: 6vw !important;
    font-weight: bold;
}

.DownloadButton {
    margin: 4px;
}

#section1 {
    padding: 5em 2em 2em 2em;
    background: white;
    color: #0F62FE;
}

.Functiondemo {
    padding: 150px 0;
    color: #000;
    position: relative;

    & h3 {
        color: #0F62FE;
    }
}

.watermark {
    position: absolute;
    font-size: 100px;
    color: rgb(0 0 0 / 10%);
    pointer-events: none;
    right: 0;
    transform: rotate(45deg);
    z-index: 0;
}

.drag-drop-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.center-flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.blue-box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: blue;
}

.context-menu {
    position: fixed;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    border-radius: 8px;
    padding: 0px 5px;
}

.context-menu p {
    min-width: 100px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    cursor: default;
}

.context-menu p:hover {
    background-color: #eee;
}

.dropZone,
.pasteZone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.Function-illustrate {
    text-align: left;

}

.flicker-border {
    animation: borderColorFlicker 1s infinite;
}

@keyframes borderColorFlicker {

    0%,
    100% {
        border-color: #eee;
    }

    50% {
        border-color: blue;
    }
}

.flicker-backgroundColor {
    animation: backgroundColorFlicker 1.5s infinite;
}

.flicker-backgroundColorRed {
    animation: backgroundColorRedFlicker 1.5s infinite;
}

@keyframes backgroundColorFlicker {

    0%,
    100% {
        background-color: green;
    }

    50% {
        background-color: rgb(0, 185, 0);
    }
}

@keyframes backgroundColorRedFlicker {

    0%,
    100% {
        background-color: red;
    }

    50% {
        background-color: rgb(210, 0, 0);
    }
}

.Function-illustrate h1,
h3 {

    font-weight: bold
}

.Function-illustrate h1 {
    font-weight: bold;
    color: #000;
}

.Function-illustrate p {
    color: #637381;
}

#section1 img {
    max-width: 800px;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, .5);
    border-radius: 1em;
}

.carousel-item img {
    background-color: #0F62FE;
}

.carousel-indicators button {
    background-color: #999;
}

#section2 {
    display: flex;
    height: 800px;
    background: #f3f4fe;
    justify-content: center;
    align-items: center;
    color: #000;
}

.Auto-Insert {
    background: white;
    width: 80vw;
    max-width: 1200px;

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Auto-Insert-right {
    width: 50%;
    max-width: 500px;
}


.Auto-Insert-illustrate {
    text-align: left;
    padding: 40px;
    padding-bottom: 0;
}

.Auto-Insert-t {
    background: #0F62FE;
    padding: 0.2em 1em;
    color: white;
}

.Auto-Insert-h {
    font-weight: bold;
}

.Auto-Insert-i {
    color: #637381;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* 其他样式，保持不变 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
}

#section4 {
    display: flex;
    height: auto;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Belongs {
    color: #0F62FE;
    z-index: 1;
}

.BelongsHead {
    display: flex;
    justify-content: center;

}

.BelongsHead-item {
    width: 260px;
    margin: 16px;
    padding: 32px;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, .5);
    color: white;
    background-color: #0F62FE;
    border-radius: 16px;
}

.BelongsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BelongsBoxIMG {
    position: relative;
    width: 88vw;
    display: flex;
}

.BelongsBoxSpan {
    position: absolute;
    font-size: 120px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    animation: breathe 2s infinite;
}

.BelongsBoxSpan::before {
    content: "→";

}

@keyframes breathe {
    0% {
        transform: translate3d(-45%, -50%, 0px);
    }

    50% {
        transform: translate3d(-55%, -50%, 0px);
    }

    100% {
        transform: translate3d(-45%, -50%, 0px);
    }
}

.BelongsBoxIMG img {
    width: 100%;
    border-radius: 24px;
}

.BelongsIMG {
    margin: 16px;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, .5);
    border-radius: 24px;
}


.friend-links-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 30px 0;
    background-color: #eee;
  }

  .friend-links-slider {
    display: flex;
    will-change: transform;
    justify-content: center;
  }

  .friend-link {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .friend-link img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .friend-link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .friend-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .friend-link .link-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0;
  }

  .link-description {
    font-size: 12px;
    color: #666;
  }

#section5 {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#section5 * {
    color: white;
}

@media screen and (max-width: 910px) {
    #section2 {
        height: auto;
        padding: 50px 0;
    }

    .Auto-Insert {
        flex-direction: column;
        height: auto;
    }

    #section4 {
        height: auto;
        padding: 30px 0;
    }

    #section4 p {
        font-size: 2.5vw;
    }

    .BelongsHead {
        display: block;
    }

    .BelongsHead-item {
        width: auto;
    }

    .BelongsBoxIMG {
        display: block;
    }

    .BelongsBoxSpan {
        font-size: 20vw;
    }

    @keyframes breathe {
        0% {
            transform: translate3d(-50%, -45%, 0px);
        }

        50% {
            transform: translate3d(-50%, -55%, 0px);
        }

        100% {
            transform: translate3d(-50%, -45%, 0px);
        }
    }

    .BelongsBoxSpan::before {
        content: "↓";
    }
}

@media screen and (max-width: 550px) {
    table {
        font-size: 2.5vw;
    }
}