.main-header {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100vh;

}

.header-row {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-title {
    width: 15em;
    font-size: 3em;
    text-align: center;
}

.main-header .header-img {
    width: 20em;
}

@media (max-height: 800px) {
    .main-header .header-img {
        width: 15em;
    }
}

@media (max-height: 600px) {
    .main-header .header-img {
        display: none;
    }

    .main-title {
        width: 100% !important;
    }
}

@media (max-width: 1250px) {
    #box {
        column-count: 2;
    }

    #box.count3 {
        column-count: 2;
    }
}
@media (max-width: 1100px) {
    .header-row {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .main-header .header-img {
        width: 15em;
    }
}

@media (max-width: 750px) {
    .main-title {
        font-size: 2em !important;
    }

}

@media (max-width: 600px) {
    .main-header .header-img {
        display: none;
    }

    .main-title {
        width: 100% !important;
        font-size: 1.7em !important;
    }

}
/* @media (max-width: 550px) {
    .main-title {
        font-size: 1.2em !important;
    }
} */