.wrapperBox {
    text-align: center;
    margin-top: -5em;
    column-count: 3;
    padding: 2em;
    column-gap: 20px;
}

.wrapperBox.count1 {
    column-count: 1;
}

.wrapperBox.count2 {
    column-count: 2;
}

.wrapperBox.count3 {
    column-count: 3;
}

.wrapperBox h3 {
    text-align: center;
}



.box {
    border: 1px solid #dddddd;
    background-color: white;
    break-inside: avoid;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.wrapperBox .box img {
    display: block;
    width: 100%;
    height: auto;
}

.box p {
    color: #000;
}

.box a {
    text-decoration: none;
}

.loading {
    margin-top: 1em;
    width: 48px;
    height: 48px;
    border: 3px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1s linear infinite;
}

.loading:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #ff3d00 transparent;
}

.IsIcons {
    position: absolute;
    right: 1em;
    top: 6px;
}

.dataDiv {
    display: flex;
    flex-wrap: wrap;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




@media (max-width: 1250px) {
    .wrapperBox {
        column-count: 2;
    }

    .wrapperBox.count3 {
        column-count: 2;
    }
}

@media (max-width: 850px) {

    .wrapperBox {
        column-count: 1;
    }

    .wrapperBox.count2 {
        column-count: 1;
    }

    .wrapperBox.count3 {
        column-count: 1;
    }
}

@media (max-width: 600px) {
    .dataDiv {
        display: block !important;
        column-gap: 4px;
        column-count: 2;
    }

    .dataContent {
        text-align: center;
        padding: 10px;
        margin: 0px !important;
    }

    .select div {
        text-align: center;
        padding: 10px;
        margin: 0px !important;
    }

    .IsIcons svg {
        width: 1.4em;
        height: 1.4em;
    }
}